.topWrapper{
  display: flex;
  height: 100vh;
  margin:0px;
  padding: 0px;
}

.pages{
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  height: 100%;
  min-width: 300px;
}

@media (max-width: 600px) {
  .chat-container {
    min-width: 100%; /* Take full width on smaller screens */
    padding: 10px; /* Adjust padding for smaller screens */
  }
}