@import url('https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

:root {
  font-family: "Sofia Sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: dark;
  

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /** High Contrast Theme Variables **/

--high-contrast-background: #000000; /* Black background */
--high-contrast-font: #FFFFFF; /* White font */
--high-contrast-accent: #FFFF00; /* Yellow accent for emphasis */
--high-contrast-hover: #FF0000; /* Red for hover for high visibility */
--high-contrast-link: #00FF00; /* Bright green for links */

  /**Style Variables **/
  --rutgers-red: #CC0033;
  --rutgers-shadow-red: #821933;

  --background-dark: #1f1f1f;
  --white-main: #FFFFFF;

  --white-deep: #DDDDDD;
  --dark-deep: #2f2f2f;

  --lighter-dark: #5f5f5f;

  --main-font: "Sofia Sans", sans-serif;

  /** OPTIONS TO CHANGE**/
  --var-bg-color:var(--background-dark);
  --var-bg-accent: var(--dark-deep);
  --var-logo-color:var(--rutgers-red);
  --var-font-color:var(--white-main);
  --var-speech-color:var(--white-main);
  --var-font-side-color:var(--white-main);
  --var-hover-color:var(--lighter-dark);
  --var-rutgers-color:var(--rutgers-red);

  background-color:var(--var-bg-color);

}

body{
  margin: 0px;
  padding: 0px;
  
}
input:focus, 
textarea:focus, 
select:focus,select {
  outline: none; /* Removes the focus outline */
  border: none;  /* Removes the border */
}

*{
  font-family: var(--main-font);
  color:#FFFFFF;
}