.page{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
    height: 100vh;
    overflow: hidden;
    
}

.page p, .page h1,.page h2,.page ul, .page li,.page strong,.page span
{
    color: var(--var-font-color);
}


.introduction{
    margin: 0;
    flex: 1;
    width: 60em;
    padding-top: 4rem;
}

.logoText{
    display: flex;
    align-items: center;
    justify-content: center;
}

.logoIcon {
    width: 20px; 
    height: 20px; 
    margin-right: 10px; 
    vertical-align: middle;  
    transform: rotate(270deg); 
}

.page h1{
    font-size: 40px;
    margin: 0px;
    text-align: center;
    margin: 1rem;
}
.page p{
    margin: 0px;
    padding: 0px;
}
.page span{
    font-weight: 100;
    font-size:  24px;
}
.superspan{
    font-weight: 100;
    font-size:  14px;
}

.inputBar{
   display: flex;
   margin-top: 2rem;
   gap: 1rem;
   margin-bottom: 1rem;
   align-self: f;
}

.textInput{
    flex: 1;
    font-size: 18px;
    padding: 1rem;
    border: none;
    background-color: var(--var-bg-accent);
    border-radius: 12px;
}

.page input{
    font-family: var(--main-font);
    color: var(--var-speech-color);
}

.fileDrop{
    display: flex;
    flex: 0.1 0 auto;
    flex-direction: column;
    align-items: center;
    font-weight: 300;
    font-size: 14px;
    background-color: var(--var-bg-accent);
    border-radius: 12px;
    padding: 4px;
    cursor: pointer;
}

.fileDrop input{
    width: 100%;
    height: 100%;
}

.fileDrop p{
    color: var(--var-speech-color);
}



/*Message Styles*/
.messages{
    flex-grow: 1;
    max-height: 70vh;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    padding: 10px;
    overflow-y: auto;
    width: 60em;


    /* Hide scrollbar for Chrome, Safari, and Edge */
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE and Edge */
}

.messages::-webkit-scrollbar {
    display: none; /* Chrome, Safari, and Edge */
  }
.message{
    padding: 0.7rem;
    max-width: 80%;
    min-width: 10%;
    border-radius: 15px;
    word-wrap: break-word; /* Ensures long text wraps */
    font-size: 16px;
}

.bot{
    align-self: flex-start;
    border-bottom-left-radius: 0;
    background-color: var(--var-bg-accent);
    color: var(--var-speech-color);
}
.bot p{
    color: var(--var-speech-color);
}

.bot p, .bot h1,.bot h2,.bot ul, .bot li,.bot strong,.bot span{
    color: var(--var-speech-color);
}
.user{
    background-color: var(--var-rutgers-color);
    align-self: flex-end;
    border-bottom-right-radius: 0;
}

.loading{
    background-color: var(--var-bg-accent);
    font-weight: 100;
}

/** This is for**/
.line_space{
    padding:0.3em;
}

.controlbar{
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.deleteButton,.savebutton{
    width: 10rem;
    margin:0 1rem 0.1cm;
    border-bottom: none;
    padding: 0.1em;
    background-color: var(--var-bg-accent);
    border-radius: 5px;
    border:none;
    font-weight: 100;
    font-size: 14px;
    font-family: var(--main-font);
    cursor: pointer;
}

.deleteButton:hover, .fileDrop:hover, .savebutton:hover{
    background-color: var(--var-hover-color);
}

.savebutton:disabled {
    cursor: not-allowed;   /* Change the cursor to indicate it's unclickable */
    background-color: var(--var-bg-accent);
  }