.pageContainer {
    padding: 20px;
    background-color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.historyContainer {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
}

.conversationBox {
    background-color: #999999;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s;
}

.conversationBox:hover {
    background-color: #f1f1f1;
}

.conversationHeader {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.conversationDate {
    font-size: 0.9em;
    color: #888;
}

.conversationPreview {
    font-size: 1em;
    color: #ffffff;
}
.backround {
    background-color: #2f2f2f;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}