.pageContainer {
    background-color: --var-bg-color;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80vh;
}

.conversationList {
    height: 80vh; /* Keeps the height constrained */
    overflow-y: auto; /* Enables vertical scrolling */
    overflow-x: hidden; /* Hides horizontal overflow */
    padding-right: 10px; /* Optional: Add some padding for better scroll visibility */
}